- if title?
  .cp-ulist-title =title
%ul
  - items.each_with_index do |item, index|
    %li
      - if item.attr? :checkbox
        %ac:task-list
          %ac:task
            %ac:task-id= index
            %ac:task-status= (item.attr? :checked?) ? 'complete' : 'imcomplete'
            %ac:task-body= item.text
      - else
        =item.text
        - if item.blocks?
          = item.content
