%ac:structured-macro{"ac:name" => "toc"}
  %ac:parameter{"ac:name" => "maxLevel"} 4
  %ac:parameter{"ac:name" => "minLevel"} 2
  %ac:parameter{"ac:name" => "outline"} true
  %ac:parameter{"ac:name" => "indent"} 0px
  %ac:parameter{"ac:name" => "style"} none
  %ac:parameter{"ac:name" => "separator"} pipe